:root {
    --color-negro: #151718;
    --color-texto: #727C77;
    --color-rojo: #ED0722;
    --color-rgba-rojo: rgba(237, 7, 34, .21);
    --color-rgba-celeste: rgba(55, 147, 246, .27);
    --color-rojo2: #B62602;
    --color-input: #EEF5F9;
    --color-fondo: #f7f9fd;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-color: azure;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgb(0, 0,  1.985), transparent);
}
nav{
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    line-height: 40px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > img{
    width: 41px;
    border-radius: 50%;
    margin-right: 3%;
    cursor: pointer;
}

.search {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #393a3b;
    border-radius:1.5rem ;
}
.search img {
    padding: 0 .5rem;
}

.search > input{
    height: 40px;
    background-color: #393a3b;
    color: #fff;
    border-radius: 1.5rem;
    border: 0;
    outline: none;
}

.navbar {
    display: flex;
    align-items: center;
    position: relative;
    left: 130px;
}

.navbar i {
    padding: .7vw 3vw;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 25px;
    
}

.navbar a{
    text-decoration: none;
    color: #c0c0c0;
}

.navbar li:hover {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
    border-radius: 15px;
}

.navbar li{
    font-style: none;
    flex: 1;
    list-style: none;
}
nav .navbar li .active{
    color: var(--color-rojo2);
    border-bottom: 5px solid var(--color-rojo2);
    width: 100%;
    border-radius: 1px;
    transition: 0.5 ease;
    padding: 15px 0;
}

.profile {
    display: flex;
    align-items: center;
    padding: 2%;
    color: #9fa1a7;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    margin-right: 2%;
}

.profile:hover {
    background-color: #3a3b3c;
    border-radius: 1.3rem;
}

.profile > img {
    width: 30px;
    border-radius: 50%;
}

.profile > p {
    margin: 0 1rem;
}

.options-two {
    display: flex;
    align-items: center;
}

.options-two > img {
    padding: .7vw;
    margin: 0 .2vw;
    background-color: #3a3b3c;
    cursor: pointer;
    border-radius: 50%;
}

.options-two > img:hover {
    background-color: #494a4b;
}

/*
============================================
SECTION HERO(BOTON PUBLICAR)
============================================
*/
.hero {
    width: 100%;
    height: 40vh;
    background: url("/imagenes/hero.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.head {
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}
/*
================================================
ESTILOS MODAL(BOTÓN PUBLICAR)
================================================
*/
.modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-modal:checked ~.modal{
    opacity: 1;
    visibility: visible;
}

.hero .contenedor {
    width: 500px;
    height: 300px;
    margin: auto;
    background: azure;
    box-shadow: 1px 7px 25px rgb(0, 0, 0);
    transition: all 500ms ease;
    position: relative;
    
}
.contenedor .hero2{
    width: 500px;
    height: 60px;
    padding: 15px;
    background-image: linear-gradient(to left, #b83737 0%, #e26f52 100%);
    color: azure;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    font-size: 20px;
}

.contenedor label{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}

.contenido{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 70px;
}

.contenido p{
    position: relative;
    right: 140px;
}

#btn-modal{
    display: none;
}

.lbl-modal:hover,
.lbl-modal:focus {
    background-color: #b83737;
}

.lbl-modal{
    background-color: #B62602;
    padding: 1rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: .8rem;
    display: inline-block;
    letter-spacing: 1px;
    margin-right: -2px;
    color: #ffffff;
}

.h2-sub {
    font-size: 3rem;;
    font-family: 'Poppins', sans-serif;
    color: var(--color-hs);
    font-weight: 600;
    line-height: .4;
}

.he-des h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

/*
====================================
PUBLICACIONES
====================================
*/

.publicaciones{
    position: static;
    margin-top: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 460px;
}

.publicaciones .contenedor2{
    width: 600px;
    height: 700px;
    background-color: rgb(96, 108, 118);
    
}
.publicaciones .contenedor2 .image{
    width: 500px;
    height: 550px;
    position: static;
    top: 150px;
    margin-top: 50px;
}
.publicaciones .contenedor2 .image img{
    width: 500px;
    height: 550px;
    margin-top: 50px;
    margin-left: 50px;
}

.publicaciones .contenedor2 .options li{
    list-style: none;
    position: relative;

}
.publicaciones .contenedor2 .separacion{
    position: static;
    margin-top: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 480px;
}
.publicaciones .contenedor2 .separacion .menu__links{
    transition: transform .5s;
    display: flex;
}

.publicaciones .contenedor2 .separacion .menu__item{
    list-style: none;
    position: relative;
    top: -760px;
    height: 100%;
}