

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}
body{
 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/imagenes/Fondo3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.cel{
top: 168px;
right: 780px;
position: absolute;
animation: floating 1s infinite alternate ease;
}
.cel img{
  width: 550;
  animation: floating 0.1s infinite alternate ease-in-out;
}
@keyframes floating {
  from {
    top: 159px;
  }to{
    top: 178px;
  }
}
.img{
  position: relative;
  top: 348px;
  right: 15px;
}
.img2{
  position: relative;
  top: -338px;
  right: 64px;
}
.title{
  background-image: url(/imagenes/logo.png);
}
.container-form{
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  transition: all .5s ease-out;
}
.welcome-back{
  position: relative;
  top: -290px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-align: center;
}
p{
  color: white;
  font-size: 25px;
}
.message{
  padding: 1rem;
}
.message h2{
  font-size: 2.4rem;
  padding: 1rem 0;
}
.message h3{
  color: rgb(159, 157, 157);
  font-size: 1.3rem;
  padding: 1rem 0;
}
/*.message .boton a {
  position: relative;
  top: 50px;
  padding: 1rem;
  font-weight: 400;
  background-color: #ee4d4a;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: #fff;
  text-decoration: none;
}
.message .boton :hover {
  background-color: #ffaf53;

}*/
input::placeholder{
  font-size: 15px;
  color: rgb(54, 22, 15);
}

.formulario {
  border-radius: 2rem;
  position: relative;
  top: -60px;
  left: 100px;
  width: 500px;
  height: 650px;
  padding: 1rem;
  margin: 2rem;
  background-color: rgba(238, 176, 176, 0.379);
  text-align: center;
}
.formulario h2{
  font-size: 30px;
}

.create-account {
  padding: 2.7rem 0;
  font-size: 1.7rem;
}

.iconos {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.border-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: solid thin white;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all .3s ease-in;
}

.border-icon:hover {
  background-color: #f7422a;
  cursor: pointer;
}
.cuenta-gratis {
  padding: 2rem 0;
}
/*//////////FORMULARIO DE REGISTRO*/
.formulario input {

  width: 35%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: rgb(255, 255, 255) thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: white;
}
.formulario input[type="button"] {
  width: 60%;
  margin: auto;
  border: solid thin white;
  padding: .7rem;
  border-radius: 2rem;
  background-color: white;
  font-weight: 600;
  margin-top: 3rem;
  font-size: .8rem;
  cursor: pointer;
  color: #222;
}

.input1{
  position: relative;
  right: 120px;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: white;
}
.input2{
  position: relative;
  top: -57px;
  left: 120px;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: white;
}.input3{
  position: relative;
  top: -57px;
  right: 120px;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: white;
}
.input4{
  position: relative;
  top: -113px;
  left: 120px;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: white;
}
.input5{
  position: relative;
  top: -113px;
  right: 120px;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: white;
}.input6{
  position: relative;
  top: -169px;
  left: 120px;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: white;
}.input7{
  position: relative;
  top: -167px;
  right: 120px;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: white;
}.input8{
  position: relative;
  top: -223px;
  left: 120px;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: white;
}

/*/////////BOTON DE REGISTRAR*/
.btnRegistro{
  background-color: #222;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  transition: 0.s;
  margin-top: -210px;
}
.btnRegistro:hover{
  background: #dc3f17;
    box-shadow: 0 0 10px #f5502c, 0 0 40px #f5502c, 0 0 80px #f5502c;
    transition-delay: 1s;

}
.btnRegistro span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#dc3f17);
}
.btnRegistro:hover #span1{
  left: 100%;
  transition: 1s;
}
#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#dc3f17);
}
.btnRegistro:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#dc3f17);
}
.btnRegistro:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#dc3f17);
}
.btnRegistro:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/*/////////BOTON DE PASAR A INICIAR SESIÓN*/
.btnLogin{
  position: relative;
  top: 10px;
  background-color: #222;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  transition: 0.s;

}
.btnLogin:hover{
  background: #dc3f17;
    box-shadow: 0 0 10px #f5502c, 0 0 40px #f5502c, 0 0 80px #f5502c;
    transition-delay: 1s;

}
.btnLogin span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#dc3f17);
}
.btnLogin:hover #span1{
  left: 100%;
  transition: 1s;
}
#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#dc3f17);
}
.btnLogin:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#dc3f17);
}
.btnLogin:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#dc3f17);
}
.btnLogin:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/*/////////////////BOTON DE INICIO DE SESIÓN*/

.btnInicio{
  background-color: #222;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  transition: 0.s;
  margin-top: 45px;
}
.btnInicio:hover{
  background: #dc3f17;
    box-shadow: 0 0 10px #f5502c, 0 0 40px #f5502c, 0 0 80px #f5502c;
    transition-delay: 1s;

}
.btnInicio span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#dc3f17);
}
.btnInicio:hover #span1{
  left: 100%;
  transition: 1s;
}
#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#dc3f17);
}
.btnInicio:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#dc3f17);
}
.btnInicio:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#dc3f17);
}
.btnInicio:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/*/////////FORMULARIO DE INICIO DE SESION*/
.formulario2 {
  border-radius: 2rem;
  position: relative;
  top: -60px;
  left: 100px;
  width: 400px;
  height: 650px;
  padding: 1rem;
  margin: 2rem;
  background-color: rgba(238, 176, 176, 0.379);
  text-align: center;
}
.formulario2 h2{
  font-size: 30px;
}
.formulario2 input {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: white;
}

.formulario2 input[type="button"] {
  width: 60%;
  margin: auto;
  border: solid thin white;
  padding: .7rem;
  border-radius: 2rem;
  background-color: white;
  font-weight: 600;
  margin-top: 3rem;
  font-size: .8rem;
  cursor: pointer;
  color: #222;
}
.capa{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  z-index: -1;
  top: 0;left: 0;
}